.box{
height: 60px;
width:100%;
background-color: blue;
color:white;
box-shadow: 5px 5px 10px #aaaaaa;
}
.title{
padding: 18px;
font-size: 23px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
*{
margin:0px;
padding:0px;
}